@page "/masters/parties"
@rendermode InteractiveServer
@layout MainLayout

@using FreshFalaye.Admin.Models
@using FreshFalaye.Admin.Services

@inject PartyApiService PartyApi
@inject DialogService DialogService
@inject IJSRuntime JS
@inject AdminAuthService Auth

<div tabindex="0"
     style="outline:none;height:100%"
     @ref="gridContainer"
     @onkeydown="HandleGridKeys"
     @onkeydown:preventDefault="true">

    <RadzenCard>

        <div class="d-flex mb-1">
            <b class="me-auto">Party Master</b>

            <RadzenButton Text="Add (Alt+A)"
                          Icon="add"
                          ButtonType="ButtonType.Button"
                          AccessKey="A"
                          Size="ButtonSize.Small"
                          Click="@AddParty" />
        </div>

        <RadzenDataGrid Data="@parties"
                        TItem="PartyDto"
                        @ref="grid"
                        AllowPaging="true"
                        PageSize="15"
                        AllowRowSelectOnRowClick="true"
                        SelectionMode="DataGridSelectionMode.Single"
                        Value="@selectedParties"
                        ValueChanged="@OnSelectedPartiesChanged"
                        RowDoubleClick="@OnRowDoubleClick"
                        RowClick="@OnRowClick"
                        Style="height:70vh">

            <Columns>
                <RadzenDataGridColumn Property="PartyCode"
                                      Title="Code"
                                      Width="90px"
                                      TextAlign="TextAlign.Center" />

                <RadzenDataGridColumn Property="PartyName"
                                      Title="Party Name"
                                      TextAlign="TextAlign.Left" />
                <RadzenDataGridColumn Property="PartyType"
                                      Title="Party Type"
                                      TextAlign="TextAlign.Left" />

                <RadzenDataGridColumn Property="MobileNo"
                                      Title="Mobile"
                                      Width="120px"
                                      TextAlign="TextAlign.Center" />

                <RadzenDataGridColumn Property="GstNo"
                                      Title="GST No"
                                      Width="140px"
                                      TextAlign="TextAlign.Center" />
            </Columns>

        </RadzenDataGrid>

    </RadzenCard>
</div>

@code {

    List<PartyDto> parties = new();

    ElementReference gridContainer;
    RadzenDataGrid<PartyDto> grid;

    IList<PartyDto> selectedParties = new List<PartyDto>();
    PartyDto? SelectedParty => selectedParties.FirstOrDefault();

    int selectedIndex = -1;

    bool dataLoaded;

    protected override async Task OnInitializedAsync()
    {
        Auth.OnChange += HandleAuthChanged;        
    }
    void HandleAuthChanged()
    {
        _ = InvokeAsync(async () =>
        {
            if (!dataLoaded &&
                Auth.IsInitialized &&
                Auth.CurrentUser != null)
            {
                await LoadAndInitializeAsync();
            }
        });
    }
    async Task LoadAndInitializeAsync()
    {
        dataLoaded = true;

        await LoadParties();

        InitializeSelection();

        await InvokeAsync(StateHasChanged);
        await JS.InvokeVoidAsync("safeFocus", gridContainer);
    }
    void InitializeSelection()
    {
        selectedParties.Clear();

        if (parties.Count > 0)
        {
            selectedIndex = 0;
            selectedParties.Clear();
            selectedParties.Add(parties[0]);
        }
    }
    public void Dispose()
    {
        Auth.OnChange -= HandleAuthChanged;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender &&
            !dataLoaded &&
            Auth.IsInitialized &&
            Auth.CurrentUser != null)
        {
            await LoadAndInitializeAsync();
        }
    }

    async Task LoadParties()
    {
        parties = await PartyApi.GetPartiesAsync();
    }

    void OnSelectedPartiesChanged(IList<PartyDto> selected)
    {
        selectedParties = selected;

        var view = grid.View.Cast<PartyDto>().ToList();
        var party = SelectedParty;

        if (party != null)
            selectedIndex = view.IndexOf(party);
    }

    async Task OnRowDoubleClick(DataGridRowMouseEventArgs<PartyDto> args)
    {
        await EditParty(args.Data);
    }

    async Task OnRowClick(DataGridRowMouseEventArgs<PartyDto> args)
    {
        await JS.InvokeVoidAsync("safeFocus", gridContainer);
    }

    async Task AddParty()
    {
        await DialogService.OpenAsync<PartyDialog>(
            "Add Party",
            null,
            new DialogOptions
            {
                Width = "720px",
                CloseDialogOnEsc = true,
                Draggable = true,
                Resizable = false
            });

        await LoadParties();
    }

    async Task EditParty(PartyDto party)
    {
        await DialogService.OpenAsync<PartyDialog>(
            "Edit Party",
            new Dictionary<string, object> { { "PartyId", party.PartyId } },
            new DialogOptions
            {
                Width = "720px",
                CloseDialogOnEsc = true,
                Draggable = true,
                Resizable = false
            });

        await LoadParties();
    }

    async Task HandleGridKeys(KeyboardEventArgs e)
    {
        var view = grid.View.Cast<PartyDto>().ToList();
        if (view.Count == 0)
            return;

        switch (e.Key)
        {
            case "ArrowDown":
                selectedIndex++;
                if (selectedIndex >= view.Count)
                    selectedIndex = 0;

                SelectRowByIndex();
                break;

            case "ArrowUp":
                selectedIndex--;
                if (selectedIndex < 0)
                    selectedIndex = view.Count - 1;

                SelectRowByIndex();
                break;

            case "Enter":
                if (SelectedParty != null)
                    await EditParty(SelectedParty);
                break;
        }
    }

    void SelectRowByIndex()
    {
        var view = grid.View.Cast<PartyDto>().ToList();
        if (view.Count == 0)
            return;

        if (selectedIndex < 0)
            selectedIndex = 0;

        if (selectedIndex >= view.Count)
            selectedIndex = view.Count - 1;

        selectedParties.Clear();
        selectedParties.Add(view[selectedIndex]);
    }
}
